<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://imageresizefunction20221004222406.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b64dd821-a77a-485a-a6cc-f2a8570ee121/resourcegroups/ImageResize/providers/Microsoft.Web/sites/ImageResizeFunction20221004222406</ResourceId>
    <UserName>$ImageResizeFunction20221004222406</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://imageresizefunction20221004222406.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>